<mat-card class="contenido_carta">
	<mat-card-header>
		<p>Informacion sobre la app</p>
	</mat-card-header>
	<mat-card-content>
		<p>Esta app esta hecha en Angular17</p>
		<p>Utiliza Angular Material</p>
		
<p>Para poder navegar, esta app necesita conectarse a una api ubicada en:</p>
<p>"http://localhost:3000/api/juegos"</p>
		<p>Link para navegar a mi Briefcase</p>
		<a mat-raised-button href="https://juanchumu.github.io/Briefcase/" >https://juanchumu.github.io/Briefcase/</a>
	</mat-card-content>
	<mat-card-footer>
	<br>
		<p>28/04/2024</p>
	</mat-card-footer>
</mat-card>
