.contenido_carta {
	max-width: 220px;
	margin: 15px;
	height: 300px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;

}
.conteiner{
	padding: 15px;
	width: 70%;
	margin-left: auto;
	display:flex;
	flex-flow: row wrap;

}
.imagen_carta{
	max-height: 100px;
	min-width: 200px;
}
.titulo_carta{
	max-height: 40px;
}
.descripcion_carta{
	height: 50px;
	max-height: 100px;
}
.botones_carta{
	max-height: 50px;
}
